<div class="col-md-12">
    <h2>{{ title }}</h2>
    <div class="alert alert-danger" *ngIf="status == 'error'">
        Error al Entrar, Verifique su contraseña o Usuario
     </div>

    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="col-md-5">

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="email" #email="ngModel" [(ngModel)]="user.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
          <span *ngIf="!email.valid && email.touched">
              El Correo no es Valido
          </span>
        </div>

        <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" class="form-control" name="password" #password="ngModel" [(ngModel)]="user.password" required>
            <span *ngIf="!password.valid && password.touched">
                El Correo no es Valido
            </span>
          </div>

          <input [disabled]="!loginForm.valid" class="btn btn-primary" type="submit" value="Entrar">

    </form>


</div>

